
<div class="filterFrame">
  <app-admin-components-filter class="pointFilter" (filterChanged)="onFilterChanged($event)"></app-admin-components-filter>
</div>

<mat-divider></mat-divider>
<div class="bugapointlist" *ngIf="filter">

  <div class="prograssBarFrame">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  </div>

  <mat-list *ngFor="let point of points">
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="item-content">
        <div class="item-text">{{ point.title }}</div>
        <button mat-icon-button class="item-button" (click)="onEdit(point.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-list-item>

  </mat-list>
</div>
<mat-divider></mat-divider>
