<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <style>
      html, body {
        height: 100%;
        margin: 0;
      }
      .leaflet-container {
        height: 400px;
        width: 600px;
        max-width: 100%;
        max-height: 100%;
      }    </style>
</head>
<body>
    <div id = "map"></div>div>

</body>
</html>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Lat</th>
        <th scope="col">Long</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bugapoint of bugapoints">
        <td>{{ bugapoint.id }}</td>
        <td>{{ bugapoint.title }}</td>
        <td>{{ bugapoint.latitude }}</td>
        <td>{{ bugapoint.longitude }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
