.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 80%;
  width: 50vh;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}



.backButton {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100px;
  background: rgba(227, 227, 227, 0.86);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 15px;
}

.backButtonLink {
  text-decoration: none;
  color: #000;
}

.backButton p {
  font-size: 17px;
}

.backButton ion-icon {
  font-size: 50px;
}



