
<app-admin-components-submenubar [title]="'Login'" [backUrl]="'/help'"></app-admin-components-submenubar>

<div class="login-container">
  <form class="login-form">
    <mat-form-field class="login-field" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" id="loginEmail" placeholder="email@example.com" [formControl]="email">
    </mat-form-field>

    <mat-form-field class="login-field" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" id="loginPassword" #loginPassword>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button class="login-button" color="primary" [disabled]="!email.valid || !loginPassword.value" (click)="login()">Login</button>

    <div class="register-link">
      <a routerLink="/register">Registrierung</a>
    </div>
  </form>
  <div class="captcha">
    Diese Website ist durch reCAPTCHA geschützt und es gelten die
    <a href="https://policies.google.com/privacy">Datenschutzbestimmungen</a> und
    <a href="https://policies.google.com/terms">Nutzungsbedingungen</a> von Google.
  </div>
</div>
