<section>
  <div class="login">
    <h2>Login</h2>
    <div class="inputBox">
      <input type="text" placeholder="Email" id="loginEmail">
    </div>
    <div class="inputBox">
      <input type="password" placeholder="Passwort" id="loginPassword">
    </div>
    <div class="inputBox">
      <input type="submit" value="Einloggen" id="btn" (click)="login()">
    </div>
    <div class="group">
      <a href="#">Passwort vergessen?</a>
      <a routerLink="/register">Registrieren</a>
    </div>
  </div>
</section>
