.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50svh;
}

.login-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 75svw;
}

.captcha {
  position: absolute;
  bottom: 100px;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}



