.navigation {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 60px;
  background: rgba(227, 227, 227, 0.86);
  display: flex;
  justify-content: center;
}

.navigation ul {
  padding-left: 0;
  display: flex;
  width: 100vw;
}
.navigation ul li {
  list-style: none;
  position: relative;
  width: calc(100vw/5);
  height: 60px;
  z-index: 2;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 65px;
  font-size: 1.5em;
  transition: 0.8s;
  color: #222327;
}

.navigation ul li.active a .icon {
  transform: translateY(-32px);
  color: #222327;
}

.navigation ul li a .text {
  position: absolute;
  background: #222327;
  color: #fff;
  padding: 2px 7px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.8s;
  opacity: 0;
  transform: translateY(15px);
}

.navigation ul li.active a .text {
  transform: translateY(-4px);
  opacity: 1;
}

.indicator {
  position: absolute;
  top: -35px;
  width: 70px;
  height: 70px;
  background: rgba(227, 227, 227, 0.86);
  border-radius: 50%;
  z-index: 1;
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 15px 18px rgba(227, 227, 227, 0.86);
}
.indicator::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -15px 18px rgba(227, 227, 227, 0.86);
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc((100vw/5) * 0 + 100vw/5/2 - 35px));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc((100vw/5) * 1 + 100vw/5/2 - 35px));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc((100vw/5) * 2 + 100vw/5/2 - 35px));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc((100vw/5) * 3 + 100vw/5/2 - 35px));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc((100vw/5) * 4 + 100vw/5/2 - 35px));
}
