<div class="container">
  <div class="header">
    <h1>Impressum</h1>
  </div>
  <div class="scrollable">
  <div class="impressum-container scroller">
  <h2>Angaben gemäß § 5 TMG</h2>
  <p>Hochschule Heilbronn <br>
    Körperschaft des öffentlichen Rechts <br>
    Vertreten durch den Rektor Professor Dr.-Ing. Oliver Lenzen <br>
    Max-Planck-Str. 39 <br>
    74081 Heilbronn <br>
    Tel.: 07131 / 504-0 <br>
    E-Mail: info@hs-heilbronn.de</p>
  <h2>Kontakt</h2>
  <p>Telefon: to be filled <br>
    E-mail: to be filled </p>
  <h2>Redaktionell verantwortlich</h2>
  <p>Julian Sammet <br>
    Peter Stibitz <br>
    Maximilian König <br>
    Denis Maric<br>
    Alexander Schwab <br>
    Nurullah Henden <br>
    <br>
    Hochschule Heilbronn <br>
    Körperschaft des öffentlichen Rechts <br>
    Max-Planck-Str. 39 <br>
    74081 Heilbronn</p> <br>
  </div>
  </div>
</div>
