<div class="map-ansicht">
  <button class="ansicht-button" (click)="showPopup()">Ansicht</button>
  <div class="ansicht-popup" *ngIf="showPopupFlag">
    <div class="radio-row">
      <input type="radio" id="free-movement" name="ansicht-option" value="free-movement" [(ngModel)]="selectedAnsichtOption" (change)="onAnsichtOptionSelected('free-movement')">
      <label for="free-movement">Freie Bewegung</label>
    </div>
    <div class="radio-row">
      <input type="radio" id="luisenpark" name="ansicht-option" value="luisenpark" [(ngModel)]="selectedAnsichtOption" (change)="onAnsichtOptionSelected('luisenpark')">
      <label for="luisenpark">Luisenpark</label>
    </div>
    <div class="radio-row">
      <input type="radio" id="spinellipark" name="ansicht-option" value="spinellipark" [(ngModel)]="selectedAnsichtOption" (change)="onAnsichtOptionSelected('spinellipark')">
      <label for="spinellipark">Spinellipark</label>
    </div>
  </div>
</div>
