<mat-expansion-panel>

  <mat-expansion-panel-header>
    {{point.title}}
  </mat-expansion-panel-header>

  <mat-form-field class="inputfield">
    <mat-label>Beschreibung</mat-label>
    <textarea matInput placeholder="Beschreibung hier eintragen" [formControl]="descriptionForm">
      Platzhalter
    </textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Admin</mat-label>
    <input matInput placeholder="Wähle einen Admin aus" [matAutocomplete]="adminAuto"
           [formControl]="adminForm">
    <mat-autocomplete autoActiveFirstOption #adminAuto="matAutocomplete">
      <mat-option *ngFor="let admin of this.admins" [value]="admin.emailadress">
        {{admin.emailadress}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>


  <form>
    <br>
    <mat-form-field>
      <mat-label>Latitude</mat-label>
      <input matInput [placeholder]="'' + point.latitude" [formControl]="latForm">
    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-label>Longitude</mat-label>
      <input matInput [placeholder]="'' + point.longitude" [formControl]="lngForm">
    </mat-form-field>
  </form>

  <section class="locationSelectionOptions">
    <button mat-raised-button class="locationButton" (click)="getGeoLocation()">Meine Position</button>
    <button mat-raised-button (click)="openMapChooser()">Position auf Karte ändern</button>
  </section>

  <br>
  <br>


  <div class="buttonBar">
    <button mat-raised-button color="primary" (click)="update()">Update</button>
    <button mat-raised-button color="warn" (click)="delete()">Löschen</button>
  </div>

  <br>
  <mat-divider></mat-divider>
</mat-expansion-panel>
