#bugapointpanel {
  height: 100%;
}

#bugapointpanel-content {
  overflow: scroll;
  height: calc(100vh - 200px);
}

mat-expansion-panel {
  display: flex;
  flex-direction: column;
  background: white;
}

mat-form-field {
  display: flex;
}

.list {
  display: flex;
  flex-direction: column;
}

.buttonBar {
  position: absolute;
  display: flex;
  background: white;
  width: 100%;
  height: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  bottom: 60px;
}

.placeholder {
  width: 100%;
  background: white;
  height: 60px;
  position: absolute;
  bottom: 0;
}

button {
  margin-right: 5vw;
}



.success-animation {
  animation-name: green-background;
  animation-duration: 2s;
}

@keyframes green-background {
  0% { background-color: white; }
  25% { background-color: lawngreen; }
  100% { background-color: white; }
}

.fail-animation {
  animation-name: red-background;
  animation-duration: 2s;
}

@keyframes red-background {
  0% { background-color: white; }
  25% { background-color: red; }
  100% { background-color: white; }
}

.locationSelectionOptions {
  display: flex;
  align-items: center;
  justify-content: left;
}

#map {
  width: 95%;
  height: 50vh;
  z-index: 0;
  margin: 1vw auto;

  border: 1px black;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  padding-bottom: 60vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}
