<div id="bugapointpanel">
  <app-admin-components-submenubar [title]="point.title" [backUrl]="'/admin/bugapoints'">
  </app-admin-components-submenubar>

  <br>

  <mat-form-field class="inputfield">
    <mat-label>Beschreibung</mat-label>
    <textarea matInput placeholder="Beschreibung hier eintragen" [formControl]="descriptionForm">
      Platzhalter
    </textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Admin</mat-label>
    <input matInput placeholder="Wähle einen Admin aus" [matAutocomplete]="adminAuto"
           [formControl]="adminForm">
    <mat-autocomplete autoActiveFirstOption #adminAuto="matAutocomplete">
      <mat-option *ngFor="let admin of this.admins" [value]="admin.emailadress">
        {{admin.emailadress}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>


  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
  <div id="map"></div>




  <section class="locationSelectionOptions">
    <button mat-raised-button class="locationButton" (click)="getGeoLocation()">Meine Position</button>
    <button mat-raised-button (click)="openMapChooser()">Position auf Karte ändern</button>
  </section>

  <br>
  <br>


  <div class="buttonBar">
    <button mat-raised-button color="primary" (click)="update()">Update</button>
    <button mat-raised-button color="warn" (click)="delete()">Löschen</button>
  </div>

  <br>
</div>
