.bugapoint-form {
  min-width: 100px;
  max-width: 100vw;
  width: 100vw;
  position: relative;
  align-items: center;
  display: flex;
  margin-top: 20px;
}
.bugapoint-form button{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: 10px;
}

.bugapoint-full-width {
  width: 100%;
}

.add-button {
}

.vertical-center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.routeButton {
  width: 500px;
}


mat-option {
  font-size: 19px;
}
/* Font size for screens smaller than 768px */
@media (max-width: 500px) {
  mat-option {
    font-size: 17px;
  }
}

/* Font size for screens smaller than 576px */
@media (max-width: 350px) {
  mat-option {
    font-size: 15px;
  }
}

