<app-admin-components-submenubar [title]="'Neuer Bugapoint'" [backUrl]="'/admin/bugapoints'"></app-admin-components-submenubar>

<br>

<form class="bugapointformular" [formGroup]="formular">


  <mat-form-field class="inputfield">
    <mat-label>Titel des neuen Punkts</mat-label>
    <input matInput placeholder="Title" formControlName="title">
  </mat-form-field>

  <mat-form-field class="inputfield">
    <mat-label>Typ</mat-label>
    <input matInput placeholder="Wähle Typ aus" [matAutocomplete]="typeAuto" formControlName="type">
    <mat-autocomplete autoActiveFirstOption #typeAuto="matAutocomplete">
      <mat-option *ngFor="let type of this.discriminators" [value]="type">
        {{type}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="inputfield">
    <mat-label>Beschreibung</mat-label>
    <textarea matInput placeholder="Beschreibung hier eintragen" formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field class="inputfield">
    <mat-label>Park</mat-label>
    <input matInput placeholder="Wähle Park" [matAutocomplete]="parkAuto" formControlName="park">
    <mat-autocomplete autoActiveFirstOption #parkAuto="matAutocomplete">
      <mat-option *ngFor="let type of this.parks" [value]="type.title">
        {{type.title}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="inputfield">
    <mat-label>Latitude</mat-label>
    <input matInput placeholder="Gebe hier die Latitude ein" formControlName="latitude" type="number">
  </mat-form-field>

  <mat-form-field class="inputfield">
    <mat-label>Longitude</mat-label>
    <input matInput placeholder="Gebe hier die Longitude ein" formControlName="longitude" type="number">
  </mat-form-field>

  <button mat-raised-button class="button" (click)="getGeoLocation()">Meine Position</button>
  <br><br>

  <mat-form-field>
    <mat-label>Admin</mat-label>
    <input matInput placeholder="Wähle einen Admin für den Punkt" [matAutocomplete]="adminAuto"
           formControlName="admin">
    <mat-autocomplete autoActiveFirstOption #adminAuto="matAutocomplete">
      <mat-option *ngFor="let admin of this.admins" [value]="admin.emailadress">
        {{admin.emailadress}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="saveButtonDiv">
    <button mat-raised-button class="saveButton" color="primary" (click)="saveBugapoint()">Speichern</button>
  </div>

</form>
