<router-outlet></router-outlet>

<nav class="toolbar">
  <ul class="menu">
    <button class="menu-item">
      <a routerLink="/users" class="menu-item-info">List Users</a>
    </button>
    <button class="menu-item">
      <a routerLink="/adduser" class="menu-item-info">Add User</a>
    </button>
    <button class="menu-item">
      <a routerLink="/bugapoints" class="menu-item-info">Bugapoints</a>
    </button>
    <button class="menu-item">
      <a routerLink="/map" class="menu-item-info">Map</a>
    </button>
  </ul>
</nav>

