.updateButton {
  color: greenyellow;

  margin-top: 0.8rem;
}

.latlngDescriptor {
  font-family: Verdana, serif;
  font-size: 1em;
}

mat-expansion-panel mat-panel-description {
  margin-bottom: 1rem;
}

.bugapointlist {
  overflow: auto;
  height: 75vh;
}
