.filter-button {
  position: absolute;
  background: rgba(227, 227, 227, 0.86);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbtn{
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  top: 50%; /* move the element down by 50% of the parent height */
  left: 50%; /* move the element right by 50% of the parent width */
  transform: translate(-50%, -40%); /* center the element */
}

#check {
  display: none;
}


.filter-list {
  position: absolute;
  top: 100px;
  right: -100%;
  max-width: 50%;
  width: 50vh;
  height: calc(100% - 100px - 100px);
  background: rgba(227, 227, 227, 0.85);
  border-radius: 30px;
  transition: 0.5s;
  text-align: center;
  overflow: hidden;
}

.filter-list mat-chip-list {
  position: relative;
  top: 10px;
  max-width: fit-content;
  left: 5px;
}

.y-scrollable {
  width: 100%;
  padding-right: 17px;
  box-sizing: content-box;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100%);
}

.placeholder {
  width: 100%;
  height: 10vh;
}

.buffer {
  margin-bottom: 1000px;
}

.shown {
  right:0;
}

mat-chip-option {
  width: calc(98%);
  width: 95%;
  height: 4vh;
  margin-bottom: 1vh;
  font-size: 110%;
}

#alleSelectedChip {
  height: 6vh;
  font-size: 130%;
}

.filter-list mat-chip-list{
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.filter-list mat-chip-list::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

