.filter-button {
  position: absolute;
  background: rgba(227, 227, 227, 0.86);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbtn{
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  top: 50%; /* move the element down by 50% of the parent height */
  left: 50%; /* move the element right by 50% of the parent width */
  transform: translate(-50%, -40%); /* center the element */
}

#check {
  display: none;
}


.filter-list {
  position: absolute;
  top: 0;
  right: -100%;
  max-width: 50%;
  width: 50vh;
  height: 100vh;
  background: rgba(227, 227, 227, 1);
  transition: 0.5s;
  text-align: center;
  overflow: hidden;
}

.filter-list mat-chip-list {
  position: relative;
  top: 110px;
  left: 5px;
}

.y-scrollable {
  width: 100%;
  padding-right: 17px;
  box-sizing: content-box;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 100px);
  margin-bottom: 100px;
}

.buffer {
  margin-bottom: 1000px;
}

.shown {
  right:0;
}

mat-chip-option {
  width: 95%;
  height: 4vh;
  margin-bottom: 1vh;
  font-size: 110%;
}

#alleSelectedChip {
  height: 6vh;
  font-size: 130%;
}

