#map {
  width: 95%;
  height: 60%;
  z-index: 0;
  margin: 1vw auto;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

button {

}
