<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<div id="map"></div>


<div class="inputContainer">
  <div class="grid">

    <mat-form-field>
      <mat-label>Neue Latitude</mat-label>
      <input matInput [formControl]="latForm" type="number" (input)="changeNewPositionMarker()">
    </mat-form-field>

    <button mat-raised-button [disabled]="isNewLocationSet" color="primary" (click)="onSave()">Speichern</button>

    <mat-form-field>
      <mat-label>Neue Longitude</mat-label>
      <input matInput [formControl]="lngForm" type="number" (input)="changeNewPositionMarker()">
    </mat-form-field>

    <button mat-raised-button color="warn" (click)="onAbort()">Abbrechen</button>

  </div>
</div>
