.submenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-top: 0;
  background: rgba(217, 217, 217, 0.8);
}

.centered {
  justify-content: center;
}

.title {
  font-family: Verdana, serif;
  font-size: 2.75em;
}

.submenu button ion-icon {
  font-size: 1.5em;
}
