<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th scope="col">birthday</th>
        <th scope="col">mail</th>
        <th scope="col">role</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.birthdate }}</td>
        <td>{{ user.emailadress }}</td>
        <td>{{ user.discriminator }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
