<section>
  <div class="registration">
    <h2>Registriere dich: </h2>
    <div class="inputBox">
      <input type="text" placeholder="Vorname">
    </div>
    <div class="inputBox">
      <input type="text" placeholder="Nachname">
    </div>
    <div class="inputBox">
      <input type="text" placeholder="Geburtstag (DD.MM.YYYY)">
    </div>
    <div class="inputBox">
      <input type="text" placeholder="Email">
    </div>
    <div class="inputBox">
      <input type="password" placeholder="Passwort">
    </div>
    <div class="inputBox">
      <input type="submit" value="Submit" id="btn">
    </div>
  </div>
</section>
