<div class="background">
  <div class="welcome-text-field">
    <a class="welcome-text">
      Hallo, {{adminName}}!
    </a>
  </div>

  <mat-divider class="separator"></mat-divider>

  <div class="menu-button-list">
    <button mat-raised-button class="menu-button" routerLink="/admin/bugapoints">BuGa-Points verwalten</button>
    <button mat-raised-button class="menu-button">Personendichte melden</button>
    <button mat-raised-button class="menu-button" routerLink="/admin/report">Meldung machen</button>
    <button mat-raised-button class="menu-button" color="warn" (click)="logout()">Logout</button>
  </div>
</div>

