<div class="background">
  <app-admin-components-submenubar [title]="'Hallo, ' + adminName + '!'" [backUrl]="'/help'"></app-admin-components-submenubar>

  <div class="menu-button-list">
    <button class="menu-button" routerLink="/admin/bugapoints">BuGa-Points verwalten</button>
    <button class="menu-button">Personendichte melden</button>
    <button class="menu-button" routerLink="/admin/report">Meldungen verwalten</button>
    <button class="menu-button red" (click)="logout()">Logout</button>
  </div>
</div>

