  <div class="filter-list">
    <div class="filter-button">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <ion-icon name="filter-outline"></ion-icon>
      </label>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Punkte</mat-label>
      <mat-select [formControl]="discriminators" multiple>
        <mat-option *ngFor="let discriminator of discriminatorSet"
                    [value]="discriminator">{{discriminator}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


