<div class="filter-list">
  <div class="scrollable">
    <mat-chip-list #chipList>
      <mat-chip-option [selected]="alleSelected" id="alleSelectedChip" (click)="alleAuswaehlen()">Alle auswählen</mat-chip-option>
      <mat-chip-option *ngFor="let discriminator of discriminatorSet" [selected]="selectedDiscriminators.has(discriminator)" [selectable]="true" [removable]="false"
                       (click)="toggleSelection(discriminator); $event.stopPropagation()">
        {{discriminator}}
      </mat-chip-option>
    </mat-chip-list>
  </div>
</div>
<div class="filter-button">
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <ion-icon name="filter-outline"></ion-icon>
  </label>
</div>


