<app-admin-components-submenubar [title]="'Help'" [backEnabled]="false"></app-admin-components-submenubar>
<div class="container">
  <a class="help-categorie" routerLink="/impressum" >
    Impressum
  </a>
  <a (click)="routeHelp()" class="help-categorie">
    <ion-icon name="person-circle-outline"></ion-icon>
    <ng-container *ngIf="adminName !== null; else loginLink">
      <a (click)="routeHelp()">Hallo {{adminName}}</a>
    </ng-container>
    <ng-template #loginLink>
      <a (click)="routeHelp()">Organisatoren Login</a>
    </ng-template>
  </a>
</div>
